:root {
  --primary-color-orange: #F0650F;
}
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff !important;
}
body {
  background-color: #202020;
}