@media (max-width: 1800px) {
  .art-button {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    margin-bottom: 30px;
  }
  .art-container {
    display: block !important;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 90vw !important;
  }
  .gallery {
    min-height: calc(100dvh - 80px);
  }
  .gallery h1 {
    height: 50px;
  }
  .gallery-load-button {
    margin: 15px auto !important;
    height: 45px !important;
  }
  .gallery .gallery-slider-wrapper {
    height: calc(100dvh - 80px - 50px - 75px);
  }
  .gallery .gallery-slider-wrapper .gallery-card {
    min-width: 50vw !important;
    max-width: 60vw !important;
    height: calc(100dvh - 80px - 50px - 75px - 80px);
  }
  .gallery .gallery-card-img-wrapper {
    height: calc(100% - 70px) !important;
  }
  .gallery .gallery-card-title {
    height: 60px !important;
  }
  .content {
    padding-top: 80px !important;
  }
  .gallery .slick-slider {
    padding-bottom: 45px;
  }
}

@media (max-width: 1024px) {
  .gallery .gallery-slider-wrapper .gallery-card {
    min-width: 60vw !important;
    max-width: 75vw !important;
    height: calc(100dvh - 80px - 50px - 75px - 80px);
  }
  .gallery .gallery-card-img-wrapper {
    height: calc(100% - 65px) !important;
  }
  .gallery .gallery-card-title {
    height: 55px !important;
  }
  .art-wrapper {
    max-height: 86dvh;
  }
  .art-wrapper-inner {
    overflow: hidden;
  }
  .art-wrapper-content {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(240, 101, 15, 0.6);
      border-radius: 10px;
      @media (hover: hover) {
        &:hover {
          background: rgba(240, 101, 15, 0.8);
        }
      }
    }
  }
  .art-wrapper-img {
    max-height: 450px !important;
  }
  h1 {
    font-size: 24px;
  }
  .content {
    padding-top: 65px !important;
  }
  .about {
    margin-top: 15px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
    padding: 0 10px !important;
  }
  .gallery {
    min-height: calc(100dvh - 80px);
  }
  .gallery .gallery-slider-wrapper {
    height: calc(100dvh - 80px - 75px);
  }
  .gallery .gallery-slider-wrapper .gallery-card {
    min-width: 80vw !important;
    max-width: 90vw !important;
    height: calc(100dvh - 80px - 75px - 80px);
  }
  .gallery .gallery-card-img-wrapper {
    height: calc(100% - 60px) !important;
  }
  .gallery .gallery-card-title {
    height: 50px !important;
  }
  .gallery {
    h1 {
      display: none;
    }
  }
  .gallery-card p {
    font-size: 16px !important;
  }
  .art-wrapper-img {
    max-height: 350px !important;
  }
  .art-button {
    display: none !important;
  }

  p {
    font-size: 16px !important;
  }
  .navbar .nav-container {
    padding: 0px 10px !important;
  }
}

@media (max-width: 425px) {
  .gallery-load-button {
    margin: 10px auto !important;
    height: 45px !important;
  }
  .navbar .navbar-brand {
    margin-right: 0px !important;
  }
  .gallery .gallery-slider-wrapper {
    height: calc(100dvh - 80px - 65px);
  }
  .gallery .gallery-slider-wrapper .gallery-card {
    min-width: 90vw !important;
    max-width: 90vw !important;
    height: calc(100dvh - 80px - 65px - 80px);
  }
  .gallery .gallery-card-img-wrapper {
    height: calc(100% - 55px) !important;
  }
  .gallery .gallery-card-title {
    height: 48px !important;
  }
  .art-container {
    padding: 15px 10px 10px 10px !important;
  }
  .art-wrapper-text {
    padding: 5px !important;
    margin-top: 8px;
  }
  .art-wrapper-img {
    max-height: 230px !important;
  }
  .full-img-viewer .full-img-viewer-close-button {
    top: 10px;
    right: 10px;
  }
}
